<!DOCTYPE html>
<html>
<head>
    <title>DATE DIFFERENCES 📅</title>
</head>
<body>
    <h2>Difference Between Two Dates</h2>

    <form method="POST">
        Enter Date1: <input type="text" name="dt1"><br>
        Enter Month1: <input type="text" name="m1"><br>
        Enter Year1: <input type="text" name="year1"><br><br>

        Enter Date2: <input type="text" name="dt2"><br>
        Enter Month2: <input type="text" name="m2"><br>
        Enter Year2: <input type="text" name="year2"><br><br>

        <input type="submit" value="Submit">
    </form>

    <h3>Difference: {{ difference }} days</h3>
</body>
</html>